---
name: Build IaC

on:
    workflow_dispatch:
    pull_request:
    push:
        branches:
            - main
    schedule:
        - cron: '0 12 * * 0'

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build test image
              run: docker build -t iac ./docker/iac

            - name: Make sure image runs
              run: docker run --name test-iac -d -t iac

            - name: Make sure Terraform is installed
              run: docker exec --tty test-iac terraform --version

            - name: Make sure PowerShell is installed
              run: docker exec --tty test-iac pwsh -version

            - name: Make sure Packer is installed
              run: docker exec --tty test-iac packer --version

            - name: Make sure Azure CLI is installed
              run: docker exec --tty test-iac az version

            - name: Make sure Ansible is installed
              run: docker exec --tty test-iac ansible --version
    
    release:
        name: Release
        runs-on: ubuntu-latest
        needs: test
        if: github.ref == 'refs/heads/master'

        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3
            
            - name: Setup Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log into Docker
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            
            - name: Build and Push
              uses: docker/build-push-action@v6
              with:
                context: ./docker/iac
                push: true
                tags: iac:latest
